footer{
    background: url(/src/assets/images/footer-bg.jpg) center center no-repeat var(--color-black);
    background-size: cover;
    position: relative;
} 

footer .container{
    position: relative;
    z-index: 10;
}

footer:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
}

footer h5{
    color: var(--color-orange);
    font-size: 17px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}

footer .footer-text1{
    padding-left: 30px;
    position: relative;
    color: var(--color-white);
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

footer .footer-text1 svg{
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 16px;
}

footer .footer-text1 a{
    color: var(--color-white);
}

footer .footer-text1 a:hover{
    color: var(--color-orange);
}

footer .list-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .list-group .list-group-item{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0px 10px 0px 0px;
    border-radius: 0px;
    border: none;
    background: transparent;
}

footer .list-group .list-group-item a{
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

footer .list-group .list-group-item a:hover{
    background: var(--color-orange);
    color: var(--color-white);
    border-color: var(--color-orange);
}

footer .footer-links{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer .footer-links a{
    width: 100%;
    padding: 7px 0px;
    font-size: 14px;
    color: var(--color-white);
    position: relative;
}

footer .footer-links.home-furniture a{
    width: 50%;
}

footer .footer-links a:hover{
    padding: 7px 0px 7px 15px;
    color: var(--color-orange);
}

footer .footer-links a:before{
    position: absolute;
    width: 7px;
    height: 1px;
    left: -10px;
    top: 13px;
    content: "";
    transform: rotate(45deg);
    background: transparent;
    transition: all 0.3s ease;
}

footer .footer-links a:after{
    position: absolute;
    width: 7px;
    height: 1px;
    left: -10px;
    top: 18px;
    content: "";
    transform: rotate(-45deg);
    background: transparent;
    transition: all 0.3s ease;
}

footer .footer-links a:hover:before, footer .footer-links a:hover:after{
    left: 0px;
    background: var(--color-orange);
    transition: all 0.3s ease;
}

footer .footer-bottom{
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer .footer-bottom .footer-bottom-text1{
    font-size: 13px;
    color: var(--color-white);
    padding: 20px 0px;
    margin: 0px;
}
footer .footer-bottom .footer-bottom-text1 a{
    color: var(--color-white);
}
footer .footer-bottom .footer-bottom-text2{
    text-align: right;
    padding: 20px 0px;
    margin: 0px;
}

footer .footer-bottom .footer-bottom-text2 a{
    font-size: 13px;
    color: var(--color-white);
    margin-left: 50px;
    color: var(--color-white);
}

footer .footer-bottom .footer-bottom-text1 a:hover, footer .footer-bottom .footer-bottom-text2 a:hover{
    color: var(--color-orange);
}


@media (max-width:1000px){
    footer .footer-links a{
        width: 50%;
    }
    footer .footer-bottom .footer-bottom-text1, footer .footer-bottom .footer-bottom-text2{
        text-align:center;
        padding: 15px 0px;
    }
}